:root {
  /*╔════════════════════════════╗
              COLORS
    ╚════════════════════════════╝*/

  /* GRADIENT */

  /*╔════════════════════════════╗
          COMPONENT DIMENSION
    ╚════════════════════════════╝*/
  /* width */
  --wdt-container: 100rem;
  /* heigth */
  --hgt-item: 4rem;
  --hgt-item-lg: 4.5rem;
  --hgt-item-sm: 2.5rem;

  /*╔════════════════════════════╗
                GUTTERS
    ╚════════════════════════════╝*/
  --space-unit: 1rem;
}
